<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre LOGIN</title>

    <!-- link de fuente, se saca de fonts.google.com  y se copia y pega de la pagina -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <!-- Estilos -->
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>

    <body>

        <header class="encabezado">

            <!-- Logo + barra de busqueda -->
            <section class="primera-linea">
               <a href = "/home"><img id="logo" src="/images/logo-mercado-liebre.svg" alt="logo"> </a> 
                <div class="barra-busqueda">
                    <input class="campo" type="search-text" placeholder="Buscar productos">
                    <i class="fa fa-search"></i>
                </div>

            </section>
            <!-- Frase -->
            <p class="frase"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito
            </p>

            <!-- Hamburguesa  -->
            <div class="hamburguesa"> <a href="#"> <i class="fa-solid fa-bars"> </i> </a> </div>

        </header>
        <!-- Menu para tablet y PC -->
        <nav class="menu">
            <ul class="lista-izquierda">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>

            </ul>


            <ul class="lista-derecha">
                <li> <a href="/register"> Crea tu cuenta </a> <i class="fa-solid fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresa </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="#"> Mis Compras </a> <i class="fas fa-shopping-basket"></i> </li>
    
            </ul>

        </nav>
        <!-- CONTENIDO LOGIN -->

    <form class="formulario" action="#" method="POST">
        
        <input class="campoformulario" type="text" name="nombre" placeholder="Nombre de usuario">
        <input class="campoformulario" type="password" name="pass" placeholder="Elegi tu contrasenia">
        
        <button class="enviar" type="submit"> Enviar </button>
        
    </form>

        <!-- FIN LOGIN -->

        <footer>
            <section class="pagosfooter">
                <article class="formas-pagos">
                    <i class="fa-regular fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es
                        seguro!
                    </p>
                </article>
                <article class="formas-pagos">

                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>

                </article>
                <article class="formas-pagos">
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad de principio a fin</h3>
                    <p>No te gusta? Devolvelo. En Mercado Liebre no hay nada que no puedas hacer porque estas siempre
                        protegido.
                    </p>
                </article>
            </section>
            <p id="copyright">Copyright 1999-2020 MercadoLiebre S.R.L.</p>

        </footer>


        <!-- esto lo puse para que anden los iconos -->

        <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>



    </body>

</html>