/* para declarar la paleta de colores, fuentes, tamanio y cualquier cosa para declarar */
* {
box-sizing: border-box;
}


:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

/* Estructura */
body {

    font-family: "roboto", sans-serif;
    font-size: 12px;
}

header {
    background-color: var(--Amarillo);
}

/*article {
    
}*/

.burger-menu {
    text-align: center;
    padding: 20px;
}


.formas_pagos {
    text-align: center;
}

footer {
    background-color: var(--Gris-claro);
}

/* Titulos */


.titulares {
    font-size: 24px;
    font-weight: bold;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: var(--Verde);
}

.descuento {
    font-size: 16px;
    font-weight: bold;
    color: var(--Azul);
}

.descripcion {
    font-size: 16px;
    font-weight: bold;
    color: var(--Azul);
}


#buscador {
    /* background-color: white; */
    color: black;
    font-size: 1em;
    padding: 20px;
    border-radius: 10%;
    /*   text-align: center; */
}



/* iconos */

.fa-bars {
    color: white;
    background-color: var(--Celeste);
    font-size: 2em;
    padding: 2%;
    margin: 1%;
    border-radius: 10%;
}

.fa-credit-card {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-gift {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-user-shield {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-search {
    background-color: white;
    border-radius: 20%;
    padding: 1px;
    border: solid 1px black;
}

/* Elementos particulares */
/* #logo {

}*/