/* para declarar la paleta de colores, fuentes, tamanio y cualquier cosa para declarar */
* {
    box-sizing: border-box;
    border: dotted 1px black;
   
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}


/* Estructura */
header {
    background-color: var(--Amarillo);
    padding: 0px;
    text-align: center;
}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

body {

    font-family: "roboto", sans-serif;
    font-size: 12px;
}

main{
    text-align: center;
    width: 90%;
}



.producto {
    border-top: 1px solid #ebebeb;
    margin: 15px;
}


.search-bar {
    width: auto;
}

.formas_pagos {
    text-align: center;
}

footer {
    background-color: var(--Gris-claro);
}

/* Titulos */

.imagenes {
    width: 50%;
}

.titulares {
    font-size: 24px;
    font-weight: bold;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: var(--Verde);
}

.descuento {
    font-size: 16px;
    font-weight: bold;
    color: var(--Azul);
}

.descripcion {
    font-size: 16px;
    font-weight: bold;
    color: var(--Azul);
}


/* iconos */

.fa-bars {
    color: white;
    background-color: var(--Celeste);
    font-size: 2em;
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
}

.fa-credit-card {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-gift {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-user-shield {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-search {
    /* background-color: white;*/
    border-radius: 20%;
    padding: 0px;
    margin-left: -25px;
    font-size: 1em;
    /* border: solid 1px black;*/
}

/* Elementos particulares */
#logo {
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* MOVIL */

#menu-tablet {
    display: none;
}

.burger-menu {
    text-align: center;
    padding: 0px;
}

.descripcion {
    display: none;
}




/* TABLET */


@media (min-width:361px) {

    #menu-tablet,
    section,
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: var(--Amarillo);*/
        list-style: none;
    }


    #lista {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;

    }

    .burger-menu {
        display: none;
    }
}

@media (min-width:769px) {
body {
    background-color: black;
}
}