* {
    box-sizing: border-box;
    /* border: dotted red 1px; */
    margin: 0px;
    padding: 0px;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}


body {
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    background-color: var(--Gris-claro);
    text-align: center;
}

main {
    width: 90%;
   margin: auto;
}

.encabezado {
    background-color: var(--Amarillo);
    padding: 10px;
}

.primera-linea {
    display: flex;
    justify-content: space-around;
}

.barra-busqueda {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.campo {
    height: 30px;
}

p.frase {
    font-size: 1em;
    text-align: center;
}

#logo {
    width: 100%;
}

.hamburguesa {
    text-align: center;
    width: 30px;
    color: white;
    background-color: var(--Celeste);
    font-size: 1em;
    padding: 1%;
    margin: auto;
    border-radius: 10%;
}

.menu ul {
    height: 30px;
    width: auto;
    list-style: none;
    align-items: center;
    padding: 5px;
}




.listado-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.producto {
    display: inline;
    height: auto;
    width: 350px;
    align-items: center;
    /* border: #03264C 2px solid; */
    background-color: white;
    margin: 10px;
}

.datos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: #ebebeb;
}

#copyright {
    text-align: left;
}

footer {
    background-color: white;
}

.pagosfooter {
    width: 80%;
    margin: auto;
}


/* TITULARES */

.imagenes {
    width: 100%;
}

.titulares {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 15px;
    color: var(--Gris-oscuro);
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: var(--Azul);
}

.descuento {
    font-size: 16px;
    font-weight: bold;
    color: var(--Verde);
}


.descripcion {
    display: block;
    visibility: hidden;
    margin-bottom: 10px;
}



/* ICONOS */

.fa-credit-card,
.fa-gift,
.fa-user-shield {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--Azul);
}

.fa-truck {
    margin-bottom: 10px;
    font-size: 1.3em;
    color: var(--Verde);
    border: #39b54a 1px solid;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    top: -15px;
}

.fa-bars {
    color: white;
}

.fa-search {
    margin-left: -25px;
    font-size: 1.5em;
}

/* Formulario */

.formulario {
    background-color: var(--Gris-claro);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
}


.campoformulario {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 15px;
}

.enviar {

    border-radius: 15px;
    outline: none;
    height: 30px;
    width: 100%;
    background-color: #1259c3;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.borrar {

    border-radius: 15px;
    outline: none;
    height: 30px;
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

/* MOVIL */

.menu {
    display: none;
}

/* TABLET */

@media (min-width:600px) {

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        width: 180px;
    }

    .campo {
        width: 80%;
    }

    p.frase {
        width: 35%;
        font-size: 16px;
    }

    .hamburguesa {
        display: none;
    }
.producto {
    width: 300px;
}
    .menu {

        display: flex;
        justify-content: space-between;
        background-color: var(--Amarillo);
        font-size: 12px;
        
       }

    a {
        text-decoration: none ;
        color: var(--Gris-oscuro);
    }
    a:hover {
        font-weight: bold;
        font-size: 16px;
    }

    .lista-izquierda,
    .lista-derecha {
        display: flex;
        flex-basis: 350px;
        justify-content: space-around;
        text-decoration: none;
    }

    .listado-producto {
        flex-direction: row;
        flex-wrap: wrap;
    }

     footer {
        height: auto;
        width: auto;
    }

    .pagosfooter {
        display: flex;
        height: 100%;

    }

    .formas-pagos {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 33%;
        font-size: 1em;
        text-align: center;
    }

    #copyright {
        display: block;
        text-align: left;
    }

    .formulario {
        width: 500px;
        margin: auto;
    }

    .primera-linea {
        justify-content: space-around;
        margin: auto;
    }
}


/* LAPTOP */

@media (min-width:900px) {

    .barra-busqueda {
        width: 500px;

    }

    .producto:hover {

        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    .producto:hover .descripcion {
        visibility: visible;
        font-size: 16px;
        font-weight: bold;
        color: var(--Azul);
    }

    .producto:hover i {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }


    .enviar:hover,
    .borrar:hover
     {
        background-color: var(--Verde);
    }
    i:hover {
        color: var(--Verde);
    }

    .producto {
        width: 200px;
    }

}